<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
       <!--  <add id="Allin_VideoCategory::parent" title="VideoCategory" module="Allin_VideoCategory" sortOrder="100" resource="Allin_VideoCategory::parent"/>
		<add id="Allin_VideoCategory::videocategory" title="Allin VideoCategory" module="Allin_VideoCategory" sortOrder="20" parent="Allin_VideoCategory::parent" action="videocategory/videocategory" resource="Allin_VideoCategory::videocategory"/> -->

    </menu>
</config>