<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="faqquery" frontName="faqquery">
            <module name="Allin_FaqQuery" />
        </route>
    </router>
</config>